.nav-des{
    background-color: transparent;
}
.nav-space{
    margin-right: 10px;
}
.nav-text{
    font-family: 'Baron Neue';
}

@font-face {
    font-family: "Baron Neue";
    src: url("font/baron_neue-webfont.woff") format("woff"),
    url("font/Baron\ Neue.otf") format("opentype");
}

.img-het{
    max-height: 100vh;
}
.img-hgt{
    max-height: 100vh;
}
.txt-cad{
    background: rgba(58, 60, 61, 0.5);
    color: black;
}
.bod-bac{
    background: rgba(85,154,219 ,0.5);
}
.people-bac{
    background: rgb(35, 35, 209);
}
.navbar-brand{
    transition: transform 0.5s;
}
.navbar-brand:hover{
    transform: scale(1.1);
}
.nav-link{
    transition: transform 0.5s;
}
.nav-link:hover{
    transform: scale(1.1);
}
@media only screen and (max-width: 768px) {
    .navbar {
      background-color: transparent;
    }
  }
.top-nav-collapse{
    background-color: transparent;
}
#about_card{
    margin: 30px;
    transition: transform  0.7s , box-shadow 0.7s;
}
#about_card:hover{
    box-shadow: rgb(90,90,90) 8px 8px 8px;
    transform: scale(1.1);
}
.carousel{
    height: 100vh;
}
.carousel-inner{
    height: 100vh;
}
.carousel-item{
    height: 100vh;
}
.carousel-caption{
    padding-bottom: 25%; 
}
.txt-blk{
    color: black;
}
.car-icon{
    background-color: yellow;
    width: 30px;
    Height: 30px;
    padding: 20px;
}